{% extends 'base.html' %}

<!--title-->
{% block title %}
{{ title }}
{% endblock title %}
<!--title-->

{% block main %}
<!-- Main Section -->
<main class="mt-5 pt-5 mb-5">
    <div class="container" id="cars">
        <div class="row row-cols-1 row-cols-md-9 g-4">
            <div class="col">
                <div class="bg-image">
                    <div class="card h-100">
                        <img src="{{ car.photo.url }}" class="card-img-top" alt="{{ car.name }}" title="{{ car.name }}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{ car.name }}</h5>
                            <p class="card-text">
                                <strong>Brand:</strong> {{ car.brand.brand_name }}<br>
                                <strong>Country:</strong> {{ car.brand.brand_country }}<br>
                                <strong>Color:</strong> {{ car.color }}<br>
                                <strong>Year:</strong> {{ car.year }}<br>
                                <strong>Price:</strong> ${{ car.price }}<br>
                                <strong>Horsepower:</strong> {{ car.horsepower }} hp
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            Added on: {{ car.added }} &nbsp; &nbsp; {{ car.views }} &nbsp;&nbsp;
                            <a href="{% url 'brands_by_id' car.brand.id %}">{{ car.brand }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Section -->
{% endblock main %}