{% extends 'base.html' %}

<!--title-->
{% block title %}
{{ title }}
{% endblock title %}
<!--title-->

<!--main-->
{% block main %}
<div class="buttons mt-5 mb-5 d-flex justify-content-around">
    {% for brand in brands %}
    <div>
    <a href="{% url 'brands_by_id' brand.id %}" class="btn btn-outline-primary btn-rounded" data-mdb-ripple-init  data-mdb-ripple-color="dark">
        {{ brand.brand_name }}
    </a>
    </div>
    {% endfor %}
</div>
<div class="container" id="cars">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for car in cars %}
        <div class="col">
            <div class="bg-image">
                <div class="card h-100">
                    <a href="{% url 'detail_cars' car.id %}">
                        <img src="{{ car.photo.url }}" class="card-img-top" alt="{{ car.name }}" title="{{ car.name }}" data-mdb-tooltip-init/>
                    </a>
                    <div class="card-body">
                        <a href="{% url 'detail_cars' car.id %}">
                            <h5 class="card-title">{{ car.name }}</h5>
                        </a>
                        <p class="card-text">
                            <strong>Brand:</strong> {{ car.brand.brand_name }}<br>
                            <strong>Country:</strong> {{ car.brand.brand_country }}<br>
                            <strong>Color:</strong> {{ car.color }}<br>
                            <strong>Year:</strong> {{ car.year }}<br>
                            <strong>Price:</strong> ${{ car.price }}<br>
                            <strong>Horsepower:</strong> {{ car.horsepower }} hp
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        {{ car.added }} &nbsp; {{ car.views }} &nbsp;
                        <a href="{% url 'brands_by_id' car.brand.id %}">{{ car.brand }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}
<!--main-->

